<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Tucker Bickler</title>   

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body ng-controller="MainCtrl" ng-cloak>

    <div class="wrapper">

        <div class="controls">
            <div class="control control-play" ng-show="!playing" ng-click="playing=true">Play</div>
            <div class="control control-pause" ng-show="playing" ng-click="playing=false">Pause</div>
            <input type="number" class="control control-tempo" ng-model="tempo" />
            <input type="number" class="control control-beat_num" ng-model="beat_num" />
        </div>

        <div class="board">
            <div beat ng-repeat="beat in beats"></div>
        </div>

    </div>

    <script src="js/lib/bower/requirejs/require.js"></script>
    <script>

        requirejs.config({
            baseUrl: 'js',
            paths: {
                'angular': 'lib/bower/angular/angular',
                'angular-animate': 'lib/bower/angular-animate/angular-animate',
                'underscore': 'lib/bower/underscore/underscore',
                'timbre': 'lib/bower/timbre/timbre',
                'subcollider': 'lib/subcollider'
            },
            shim: {
                'angular': {
                    exports: 'angular'
                },
                'angular-animate': ['angular'],
                'timbre': {
                    exports: 'T'
                },
                'subcollider': {
                    exports: 'sc'
                }
            },
            deps: ['app']
        });

        /*
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-6013405-1', 'tuckbick.com');
        ga('send', 'pageview');
        */
    </script>

</body>
</html>